<style>
  qe {
    color: #272727;
    font-size: 130%;
    text-shadow: 0px 0px 3px #fff;
  }
  bar_text {
    color: rgb(0,100,182);
    font-size: 130%;
    margin-right: -15px;
    text-shadow: 1px 1px 0px #fff;
  }
  .navbar-custom {
    background-color: #f0f0f0;
    border-top: 1px;
    border-color: #c0c0c0;
  }
</style>
<nav class="navbar navbar-custom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://www.novetta.com">
              <img style="height: 40px; margin-top: -7px; margin-right: 25px"
              src="novetta_mark_only_blue_RGB-small.png"></a>
            <a style="margin-top: 4px" class="navbar-brand"
              href="/"><qe>Quote Identification</qe></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a style="margin-top: 5px" href="/score_document"><bar_text>
                  ScoreDocument</bar_text></a></li>
                <li><a style="margin-top: 5px" href="/add_quote"><bar_text>
                  AddQuote</bar_text></a></li>
            </ul>
        </div>
    </div>
</nav>
