{% extends 'layout.html' %}

{% block body %}
    <h1 style="color:#0080D0">Add Quote</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="" enctype="multipart/form-data">
      <div class="form-group">
        {{ render_field(form.body, class_="form-control") }}
      </div>
      <p>Input a list of quotes, or upload a file below.<br><br>
        <input class="btn btn-primary" type="file" name="datafile"></p></input>
      <p>
        <input class="btn btn-primary" type="submit" value="Submit"></p></input>
    </form>
{% endblock %}
