{% extends 'layout.html' %}

<style>
  qe {
    color: rgb(0,100,182);
    font-size: 80%
  }
</style>

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome to Quote Identification</h1>
        <p class="lead">You can use this app to search for quotes within documents</p>
        <a href="score_document"
          class="btn btn-primary btn-lg"
          style="margin-right:200px;margin-top:50px">ScoreDocument</a>
        <a href="add_quote"
          class="btn btn-primary btn-lg"
          style="margin-top:50px">AddQuote</a>
    </div>
{% endblock %}
