<!DOCTYPE html>
<html>
    <head>
      <style type="text/css">
      .headerBackground {
        width: 100%;
        height: 100%;
        background-color: #909090;
      }
      .headerContent {
        width: 100%;
        height: 100%;
        background-color: white;
      }
      .footer {
        height: 60px;
        background-color: #f0f0f0;
      }
      </style>
      <meta charset="utf-8">
      <title>Quote Identification</title>
      <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        {% include 'includes/_navbar.html' %}
        <div class="container">
          {% include 'includes/_messages.html' %}
        {% block body %}{% endblock %}
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
